[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
nltk = "*"
torch = "*"
torchvision = "*"
torchaudio = "*"
google-generativeai = "*"
ipython = "*"
streamlit = "*"
mysql-connector-python = "*"
vertexai = "*"
pypdf2 = "*"
python-dotenv = "*"
scikit-learn = "*"
fpdf = "*"
langchain = "*"
langchain-openai = "*"
langchain-community = "*"
streamlit-lottie = "*"
pyspellchecker = "*"
pysmtplib = "*"

[dev-packages]

[requires]
python_version = "3.12"
